In [1]:
import requests # 웹 페이지 소스를 얻기 위한 패키지(기본 내장 패키지이다.)
from bs4 import BeautifulSoup # 웹 페이지 소스를 얻기 위한 패키지, 더 간단히 얻을 수 있다는 장점이 있다고 한다.
from datetime import datetime                                # (!pip install beautifulsoup4 으로 다운받을 수 있다.)
import pandas as pd # 데이터를 처리하기 위한 가장 기본적인 패키지
import time # 사이트를 불러올 때, 작업 지연시간을 지정해주기 위한 패키지이다. (사이트가 늦게 켜지면 에러가 발생하기 때문)
import urllib.request #
from selenium import webdriver
import json
import re     
from selenium.webdriver.chrome.options import Options
from selenium.webdriver.common.keys import Keys
import datetime as dt
import numpy as np
import pickle
import matplotlib

import matplotlib.pyplot as plt

import numpy as np

import pandas as pd
import pickle
import matplotlib.pyplot as plt
import numpy as np
import sys
import os
from pandas.io.json import json_normalize
import seaborn as sns
import statsmodels.api as sm
import requests

# plant1_train 정제

In [2]:
with open('plant1_train.txt') as data:
    lines = data.readlines()

In [8]:
len(lines)

58750

In [33]:
value_ls = []
for i in range(len(lines)):

    a = lines[i].split(',')
    
    value_ls.append(a)

In [36]:
plant1_train = pd.DataFrame(value_ls[1:], columns = value_ls[0])

In [39]:
plant1_train.drop(columns = '"Index"',inplace = True)

In [49]:
columns = []
for i in value_ls[0]:
    columns.append(re.sub('[\"\n]','',i))

In [51]:
plant1_train.columns = columns[1:]

In [57]:
col = []
for i in range(len(plant1_train)):
    col0 = re.sub('[\n]','',plant1_train['plant1_train.cond_loc3'].iloc[i])
    col.append(col0)

In [60]:
plant1_train['plant1_train.cond_loc3'] = col

In [70]:
for i in plant1_train.columns:
    plant1_train[i] = plant1_train[i].replace('NA',np.nan)

In [79]:
for i in plant1_train.columns[1:]:
    plant1_train[i] = plant1_train[i].astype('float64')

In [82]:
plant1_train

,plant1_train.mea_ddhr,plant1_train.tem_in_loc1,plant1_train.hum_in_loc1,plant1_train.tem_coil_loc1,plant1_train.tem_in_loc2,plant1_train.hum_in_loc2,plant1_train.tem_coil_loc2,plant1_train.tem_in_loc3,plant1_train.hum_in_loc3,plant1_train.tem_coil_loc3,plant1_train.tem_out_loc1,plant1_train.hum_out_loc1,plant1_train.cond_loc1,plant1_train.cond_loc2,plant1_train.cond_loc3
0,"""2016-04-01 0:00""",16.00,24.00,11.00,14.00,23.00,11.00,13.00,32.00,10.00,9.00,42.00,0.0,0.0,0.0
1,"""2016-04-01 3:00""",14.00,28.00,10.00,12.00,32.00,9.00,11.00,42.00,7.00,7.00,59.00,0.0,0.0,0.0
2,"""2016-04-01 6:00""",13.00,33.00,10.00,11.00,37.00,9.00,10.00,44.00,7.00,6.00,56.00,0.0,0.0,0.0
3,"""2016-04-01 9:00""",13.00,33.00,10.00,11.00,35.00,9.00,10.00,41.00,8.00,18.00,30.00,0.0,0.0,0.0
4,"""2016-04-01 12:00""",16.00,28.00,10.00,15.00,27.00,11.00,14.00,30.00,9.00,18.00,20.00,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
58744,"""2019-03-31 23:10""",10.52,36.39,10.52,10.55,35.20,11.17,9.85,37.88,9.79,6.40,43.86,0.0,0.0,0.0
58745,"""2019-03-31 23:20""",10.52,37.09,10.44,10.55,35.53,11.09,9.88,38.40,9.72,6.34,44.02,0.0,0.0,0.0
58746,"""2019-03-31 23:30""",10.43,37.18,10.56,10.49,35.65,11.21,9.85,38.22,9.91,6.40,43.04,0.0,0.0,0.0
58747,"""2019-03-31 23:40""",10.49,38.00,10.56,10.55,36.08,11.21,9.82,38.95,9.83,6.31,45.33,0.0,0.0,0.0
58748,"""2019-03-31 23:50""",10.49,38.74,10.52,10.55,36.69,11.01,9.82,39.35,9.83,6.34,45.94,0.0,0.0,0.0

# plant2_train 정제

In [83]:
with open('plant2_train.txt') as data:
    lines = data.readlines()

In [ ]:
value_ls = []
for i in range(len(lines)):

    a = lines[i].split(',')
    
    value_ls.append(a)
    
plant2_train = pd.DataFrame(value_ls[1:], columns = value_ls[0])

In [86]:
plant2_train.drop(columns = '""',inplace = True)

In [88]:
columns = []
for i in value_ls[0]:
    columns.append(re.sub('[\"\n]','',i))
    
plant2_train.columns = columns[1:]

In [89]:
col = []
for i in range(len(plant2_train)):
    col0 = re.sub('[\n]','',plant2_train['plant2_train.cond_loc3'].iloc[i])
    col.append(col0)

In [91]:
plant2_train['plant2_train.cond_loc3'] = col

In [92]:
for i in plant2_train.columns:
    plant2_train[i] = plant2_train[i].replace('NA',np.nan)

In [93]:
for i in plant2_train.columns[1:]:
    plant2_train[i] = plant2_train[i].astype('float64')

In [94]:
plant2_train

,plant2_train.mea_ddhr,plant2_train.tem_in_loc1,plant2_train.hum_in_loc1,plant2_train.tem_coil_loc1,plant2_train.tem_in_loc2,plant2_train.hum_in_loc2,plant2_train.tem_coil_loc2,plant2_train.tem_in_loc3,plant2_train.hum_in_loc3,plant2_train.tem_coil_loc3,plant2_train.tem_out_loc1,plant2_train.hum_out_loc1,plant2_train.cond_loc1,plant2_train.cond_loc2,plant2_train.cond_loc3
0,"""2016-04-01 0:00""",16.00,24.00,11.00,14.00,23.00,11.00,13.00,32.00,10.00,9.00,42.00,0.0,0.0,0.0
1,"""2016-04-01 3:00""",14.00,28.00,10.00,12.00,32.00,9.00,11.00,42.00,7.00,7.00,59.00,0.0,0.0,0.0
2,"""2016-04-01 6:00""",13.00,33.00,10.00,11.00,37.00,9.00,10.00,44.00,7.00,6.00,56.00,0.0,0.0,0.0
3,"""2016-04-01 9:00""",13.00,33.00,10.00,11.00,35.00,9.00,10.00,41.00,8.00,18.00,30.00,0.0,0.0,0.0
4,"""2016-04-01 12:00""",16.00,28.00,10.00,15.00,27.00,11.00,14.00,30.00,9.00,18.00,20.00,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
58787,"""2019-03-31 23:10""",9.18,36.32,9.18,9.08,37.58,9.68,8.26,38.34,9.57,4.72,52.11,0.0,0.0,0.0
58788,"""2019-03-31 23:20""",9.24,36.51,9.22,9.02,38.25,9.76,8.29,38.92,9.60,4.66,51.01,0.0,0.0,0.0
58789,"""2019-03-31 23:30""",9.05,36.29,9.11,9.05,38.13,9.76,8.32,39.13,9.49,4.57,51.47,0.0,0.0,0.0
58790,"""2019-03-31 23:40""",8.99,37.33,9.15,9.02,38.49,9.68,8.26,39.62,9.57,4.47,53.14,0.0,0.0,0.0
58791,"""2019-03-31 23:50""",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

# plant_test 정제

In [95]:
with open('plant_test.txt') as data:
    lines = data.readlines()

In [96]:
value_ls = []
for i in range(len(lines)):

    a = lines[i].split(',')
    
    value_ls.append(a)
    
plant_test = pd.DataFrame(value_ls[1:], columns = value_ls[0])

In [98]:
plant_test.drop(columns = '""',inplace = True)

In [99]:
columns = []
for i in value_ls[0]:
    columns.append(re.sub('[\"\n]','',i))
    
plant_test.columns = columns[1:]

In [101]:
col = []
for i in range(len(plant_test)):
    col0 = re.sub('[\n]','',plant_test['plant_test.x48h_cond_loc'].iloc[i])
    col.append(col0)
    
plant_test['plant_test.x48h_cond_loc'] = col

In [103]:
for i in plant_test.columns:
    plant_test[i] = plant_test[i].replace('NA',np.nan)

In [109]:
for i in plant_test.columns[1:8]:
    plant_test[i] = plant_test[i].astype('float64')

In [110]:
plant_test

,plant_test.mea_ddhr,plant_test.plant,plant_test.loc,plant_test.tem_in,plant_test.hum_in,plant_test.tem_coil,plant_test.tem_out_loc1,plant_test.hum_out_loc1,plant_test.x24h_tma,plant_test.x24h_cond_loc,plant_test.x48h_tma,plant_test.x48h_cond_loc
0,"""2019-04-01 0:00""",2.0,3.0,8.17,40.42,10.10,4.20,54.82,"""2019-04-02 0:00""",NaN,"""2019-04-03 0:00""",NaN
1,"""2019-04-01 4:30""",1.0,2.0,10.03,48.81,10.79,6.09,59.34,"""2019-04-02 4:30""",NaN,"""2019-04-03 4:30""",NaN
2,"""2019-04-01 10:30""",2.0,3.0,9.45,40.93,9.07,12.26,32.14,"""2019-04-02 10:30""",NaN,"""2019-04-03 10:30""",NaN
3,"""2019-04-01 11:00""",1.0,1.0,12.32,34.13,10.86,12.32,28.27,"""2019-04-02 11:00""",NaN,"""2019-04-03 11:00""",NaN
4,"""2019-04-01 13:30""",2.0,1.0,11.28,22.65,8.76,12.01,19.84,"""2019-04-02 13:30""",NaN,"""2019-04-03 13:30""",NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
3534,"""2020-03-29 3:00""",1.0,2.0,10.73,33.36,13.30,6.28,46.37,"""2020-03-30 3:00""",NaN,"""2020-03-31 3:00""",NaN
3535,"""2020-03-29 5:00""",2.0,3.0,9.15,38.86,11.70,1.39,74.33,"""2020-03-30 5:00""",NaN,"""2020-03-31 5:00""",NaN
3536,"""2020-03-29 7:00""",2.0,1.0,7.10,44.87,9.03,4.26,58.06,"""2020-03-30 7:00""",NaN,"""2020-03-31 7:00""",NaN
3537,"""2020-03-29 11:30""",1.0,1.0,13.54,33.49,12.20,12.90,33.67,"""2020-03-30 11:30""",NaN,"""2020-03-31 11:30""",NaN
3538,"""2020-03-29 19:30""",1.0,1.0,14.21,34.43,12.77,9.88,43.96,"""2020-03-30 19:30""",NaN,"""2020-03-31 19:30""",NaN

# 정제 데이터 저장

In [112]:
plant1_train.to_csv('plant1_train.csv',index = False)
plant2_train.to_csv('plant2_train.csv',index = False)
plant_test.to_csv('plant_test.csv',index = False)

# 각 컬럼별 데이터 파악