In [1]:
import pandas as pd
import numpy as np

from urllib.parse import quote    
from urllib.request import urlopen

import sys
import requests
from bs4 import BeautifulSoup 
import pandas as pd
from sqlalchemy import create_engine

#import pymysql.cursors
#pymysql.install_as_MySQLdb()
#import MySQLdb
from pandas.io.json import json_normalize
import time
import datetime
from datetime import timedelta
import re
import folium
from folium.plugins import MarkerCluster, MiniMap

# 지하철 API

In [2]:
api_key = '4c6e727a6c6779653532546b576f6e'
base_url = 'http://openapi.seoul.go.kr:8088/{}/json/CardSubwayTime/{}/{}/{}/'

year_range = ['2020']
month_range = ['01','02','03','04','05','06','07','08','09','10','11','12']

start_time = time.time()
sub_ym_df = pd.DataFrame()
for j in year_range:
    
    for i in month_range:
    
        ym_value = j + i
            
        if datetime.datetime.strptime(ym_value,'%Y%M') < datetime.datetime.strptime('202008','%Y%M'):
            pass
        else:
            print('데이터 존재 X')
            continue
        
        sub_ym_df0 = pd.DataFrame()
        num = 1
        while True:
            try:

                req = requests.get(base_url.format(api_key,str(num),str(num+999),ym_value), headers = {'user-agent': \
                                                ('Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_2) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/79.0.3945.130 Safari/537.36')})

                subway_json = req.json()
                sample_df = json_normalize(subway_json['CardSubwayTime']['row'])

                #sample_df.to_sql(name=table_name,con=engine,if_exists='append')
                sub_ym_df0 = sub_ym_df0.append(sample_df)

                print('지하철 데이터 {} ~ {} row 수집중'.format(str(num),str(num+999)))
                num +=1000
            except:
                break
        print('--------------------'+j+'년'+i+'월 데이터 수집 완료---------------------')
        
        #sub_ym_df0['ym'] = ym_value
        sub_ym_df = sub_ym_df.append(sub_ym_df0)
        
    print('============================================================================')
    print('=============================='+j+' 연도 테이블 생성 완료========================')
    print('============================================================================')
    print('연평균 수집 소요 시간(초) : ', time.time()-start_time)

/Users/sinmin-yong/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:30: FutureWarning: pandas.io.json.json_normalize is deprecated, use pandas.json_normalize instead

지하철 데이터 1 ~ 1000 row 수집중
--------------------2020년01월 데이터 수집 완료---------------------
지하철 데이터 1 ~ 1000 row 수집중
--------------------2020년02월 데이터 수집 완료---------------------
지하철 데이터 1 ~ 1000 row 수집중
--------------------2020년03월 데이터 수집 완료---------------------
지하철 데이터 1 ~ 1000 row 수집중
--------------------2020년04월 데이터 수집 완료---------------------
지하철 데이터 1 ~ 1000 row 수집중
--------------------2020년05월 데이터 수집 완료---------------------
지하철 데이터 1 ~ 1000 row 수집중
--------------------2020년06월 데이터 수집 완료---------------------
지하철 데이터 1 ~ 1000 row 수집중
--------------------2020년07월 데이터 수집 완료---------------------
데이터 존재 X
데이터 존재 X
데이터 존재 X
데이터 존재 X
데이터 존재 X
============================================================================
==============================2020 연도 테이블 생성 완료========================
============================================================================
연평균 수집 소요 시간(초) :  3.087925910949707

# 버스 API

In [3]:
#just kaggle
#engine = create_engine("mysql+mysqldb://justkaggle:"+"justkaggle1234!"+"@104.197.128.149/smy_db", encoding='utf-8')
#conn = engine.connect()

#ym_range = list(set(pd.date_range(start='2019-01',end='2019-12').strftime('%Y%m').tolist()))
year_range = ['2020']
month_range = ['01','02','03','04','05','06','07']

api_key = '5243515448677965343255436b7a49'
base_url = 'http://openapi.seoul.go.kr:8088/{}/json/CardBusTimeNew/{}/{}/{}/'

bus_ym_df = pd.DataFrame()
for j in year_range:
    start_time = time.time()
    table_name = 'bus_timelog_'+j
    
    for i in month_range:
        ym_value = j + i
        
        bus_ym_df0 = pd.DataFrame()
        num = 1
        while True:
            try:

                req = requests.get(base_url.format(api_key,str(num),str(num+999),ym_value), headers = {'user-agent': \
                                                ('Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_2) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/79.0.3945.130 Safari/537.36')})

                bus_json = req.json()
                sample_df = json_normalize(bus_json['CardBusTimeNew']['row'])

                #sample_df.to_sql(name=table_name,con=engine,if_exists='append')
                bus_ym_df0 = bus_ym_df0.append(sample_df)

                print('버스정류장 데이터 {} ~ {} row 수집중'.format(str(num),str(num+999)))
                num +=1000
            except:
                break
        print('--------------------'+j+'년'+i+'월 데이터 수집 완료---------------------')
        
        bus_ym_df = bus_ym_df.append(bus_ym_df0)
        
    print('============================================================================')
    print('=============================='+j+' 연도 테이블 생성 완료========================')
    print('============================================================================')
    print('연평균 수집 소요 시간(초) : ', time.time()-start_time)

/Users/sinmin-yong/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:29: FutureWarning: pandas.io.json.json_normalize is deprecated, use pandas.json_normalize instead

버스정류장 데이터 1 ~ 1000 row 수집중
버스정류장 데이터 1001 ~ 2000 row 수집중
버스정류장 데이터 2001 ~ 3000 row 수집중
버스정류장 데이터 3001 ~ 4000 row 수집중
버스정류장 데이터 4001 ~ 5000 row 수집중
버스정류장 데이터 5001 ~ 6000 row 수집중
버스정류장 데이터 6001 ~ 7000 row 수집중
버스정류장 데이터 7001 ~ 8000 row 수집중
버스정류장 데이터 8001 ~ 9000 row 수집중
버스정류장 데이터 9001 ~ 10000 row 수집중
버스정류장 데이터 10001 ~ 11000 row 수집중
버스정류장 데이터 11001 ~ 12000 row 수집중
버스정류장 데이터 12001 ~ 13000 row 수집중
버스정류장 데이터 13001 ~ 14000 row 수집중
버스정류장 데이터 14001 ~ 15000 row 수집중
버스정류장 데이터 15001 ~ 16000 row 수집중
버스정류장 데이터 16001 ~ 17000 row 수집중
버스정류장 데이터 17001 ~ 18000 row 수집중
버스정류장 데이터 18001 ~ 19000 row 수집중
버스정류장 데이터 19001 ~ 20000 row 수집중
버스정류장 데이터 20001 ~ 21000 row 수집중
버스정류장 데이터 21001 ~ 22000 row 수집중
버스정류장 데이터 22001 ~ 23000 row 수집중
버스정류장 데이터 23001 ~ 24000 row 수집중
버스정류장 데이터 24001 ~ 25000 row 수집중
버스정류장 데이터 25001 ~ 26000 row 수집중
버스정류장 데이터 26001 ~ 27000 row 수집중
버스정류장 데이터 27001 ~ 28000 row 수집중
버스정류장 데이터 28001 ~ 29000 row 수집중
버스정류장 데이터 29001 ~ 30000 row 수집중
버스정류장 데이터 30001 ~ 31000 row 수집중
버스정류장 데이터 31001 ~ 32000 row 수집중
버스정류장 데이터 32001 ~ 33000 row 수집중
버스정류장 데이터 33001 ~ 34000 row 수집중
버스정류장 데이터 34001 ~ 35000 row 수집중
버스정류장 데이터 35001 ~ 36000 row 수집중
버스정류장 데이터 36001 ~ 37000 row 수집중
버스정류장 데이터 37001 ~ 38000 row 수집중
버스정류장 데이터 38001 ~ 39000 row 수집중
버스정류장 데이터 39001 ~ 40000 row 수집중
--------------------2020년01월 데이터 수집 완료---------------------
버스정류장 데이터 1 ~ 1000 row 수집중
버스정류장 데이터 1001 ~ 2000 row 수집중
버스정류장 데이터 2001 ~ 3000 row 수집중
버스정류장 데이터 3001 ~ 4000 row 수집중
버스정류장 데이터 4001 ~ 5000 row 수집중
버스정류장 데이터 5001 ~ 6000 row 수집중
버스정류장 데이터 6001 ~ 7000 row 수집중
버스정류장 데이터 7001 ~ 8000 row 수집중
버스정류장 데이터 8001 ~ 9000 row 수집중
버스정류장 데이터 9001 ~ 10000 row 수집중
버스정류장 데이터 10001 ~ 11000 row 수집중
버스정류장 데이터 11001 ~ 12000 row 수집중
버스정류장 데이터 12001 ~ 13000 row 수집중
버스정류장 데이터 13001 ~ 14000 row 수집중
버스정류장 데이터 14001 ~ 15000 row 수집중
버스정류장 데이터 15001 ~ 16000 row 수집중
버스정류장 데이터 16001 ~ 17000 row 수집중
버스정류장 데이터 17001 ~ 18000 row 수집중
버스정류장 데이터 18001 ~ 19000 row 수집중
버스정류장 데이터 19001 ~ 20000 row 수집중
버스정류장 데이터 20001 ~ 21000 row 수집중
버스정류장 데이터 21001 ~ 22000 row 수집중
버스정류장 데이터 22001 ~ 23000 row 수집중
버스정류장 데이터 23001 ~ 24000 row 수집중
버스정류장 데이터 24001 ~ 25000 row 수집중
버스정류장 데이터 25001 ~ 26000 row 수집중
버스정류장 데이터 26001 ~ 27000 row 수집중
버스정류장 데이터 27001 ~ 28000 row 수집중
버스정류장 데이터 28001 ~ 29000 row 수집중
버스정류장 데이터 29001 ~ 30000 row 수집중
버스정류장 데이터 30001 ~ 31000 row 수집중
버스정류장 데이터 31001 ~ 32000 row 수집중
버스정류장 데이터 32001 ~ 33000 row 수집중
버스정류장 데이터 33001 ~ 34000 row 수집중
버스정류장 데이터 34001 ~ 35000 row 수집중
버스정류장 데이터 35001 ~ 36000 row 수집중
버스정류장 데이터 36001 ~ 37000 row 수집중
버스정류장 데이터 37001 ~ 38000 row 수집중
버스정류장 데이터 38001 ~ 39000 row 수집중
--------------------2020년02월 데이터 수집 완료---------------------
버스정류장 데이터 1 ~ 1000 row 수집중
버스정류장 데이터 1001 ~ 2000 row 수집중
버스정류장 데이터 2001 ~ 3000 row 수집중
버스정류장 데이터 3001 ~ 4000 row 수집중
버스정류장 데이터 4001 ~ 5000 row 수집중
버스정류장 데이터 5001 ~ 6000 row 수집중
버스정류장 데이터 6001 ~ 7000 row 수집중
버스정류장 데이터 7001 ~ 8000 row 수집중
버스정류장 데이터 8001 ~ 9000 row 수집중
버스정류장 데이터 9001 ~ 10000 row 수집중
버스정류장 데이터 10001 ~ 11000 row 수집중
버스정류장 데이터 11001 ~ 12000 row 수집중
버스정류장 데이터 12001 ~ 13000 row 수집중
버스정류장 데이터 13001 ~ 14000 row 수집중
버스정류장 데이터 14001 ~ 15000 row 수집중
버스정류장 데이터 15001 ~ 16000 row 수집중
버스정류장 데이터 16001 ~ 17000 row 수집중
버스정류장 데이터 17001 ~ 18000 row 수집중
버스정류장 데이터 18001 ~ 19000 row 수집중
버스정류장 데이터 19001 ~ 20000 row 수집중
버스정류장 데이터 20001 ~ 21000 row 수집중
버스정류장 데이터 21001 ~ 22000 row 수집중
버스정류장 데이터 22001 ~ 23000 row 수집중
버스정류장 데이터 23001 ~ 24000 row 수집중
버스정류장 데이터 24001 ~ 25000 row 수집중
버스정류장 데이터 25001 ~ 26000 row 수집중
버스정류장 데이터 26001 ~ 27000 row 수집중
버스정류장 데이터 27001 ~ 28000 row 수집중
버스정류장 데이터 28001 ~ 29000 row 수집중
버스정류장 데이터 29001 ~ 30000 row 수집중
버스정류장 데이터 30001 ~ 31000 row 수집중
버스정류장 데이터 31001 ~ 32000 row 수집중
버스정류장 데이터 32001 ~ 33000 row 수집중
버스정류장 데이터 33001 ~ 34000 row 수집중
버스정류장 데이터 34001 ~ 35000 row 수집중
버스정류장 데이터 35001 ~ 36000 row 수집중
버스정류장 데이터 36001 ~ 37000 row 수집중
버스정류장 데이터 37001 ~ 38000 row 수집중
버스정류장 데이터 38001 ~ 39000 row 수집중
버스정류장 데이터 39001 ~ 40000 row 수집중
--------------------2020년03월 데이터 수집 완료---------------------
버스정류장 데이터 1 ~ 1000 row 수집중
버스정류장 데이터 1001 ~ 2000 row 수집중
버스정류장 데이터 2001 ~ 3000 row 수집중
버스정류장 데이터 3001 ~ 4000 row 수집중
버스정류장 데이터 4001 ~ 5000 row 수집중
버스정류장 데이터 5001 ~ 6000 row 수집중
버스정류장 데이터 6001 ~ 7000 row 수집중
버스정류장 데이터 7001 ~ 8000 row 수집중
버스정류장 데이터 8001 ~ 9000 row 수집중
버스정류장 데이터 9001 ~ 10000 row 수집중
버스정류장 데이터 10001 ~ 11000 row 수집중
버스정류장 데이터 11001 ~ 12000 row 수집중
버스정류장 데이터 12001 ~ 13000 row 수집중
버스정류장 데이터 13001 ~ 14000 row 수집중
버스정류장 데이터 14001 ~ 15000 row 수집중
버스정류장 데이터 15001 ~ 16000 row 수집중
버스정류장 데이터 16001 ~ 17000 row 수집중
버스정류장 데이터 17001 ~ 18000 row 수집중
버스정류장 데이터 18001 ~ 19000 row 수집중
버스정류장 데이터 19001 ~ 20000 row 수집중
버스정류장 데이터 20001 ~ 21000 row 수집중
버스정류장 데이터 21001 ~ 22000 row 수집중
버스정류장 데이터 22001 ~ 23000 row 수집중
버스정류장 데이터 23001 ~ 24000 row 수집중
버스정류장 데이터 24001 ~ 25000 row 수집중
버스정류장 데이터 25001 ~ 26000 row 수집중
버스정류장 데이터 26001 ~ 27000 row 수집중
버스정류장 데이터 27001 ~ 28000 row 수집중
버스정류장 데이터 28001 ~ 29000 row 수집중
버스정류장 데이터 29001 ~ 30000 row 수집중
버스정류장 데이터 30001 ~ 31000 row 수집중
버스정류장 데이터 31001 ~ 32000 row 수집중
버스정류장 데이터 32001 ~ 33000 row 수집중
버스정류장 데이터 33001 ~ 34000 row 수집중
버스정류장 데이터 34001 ~ 35000 row 수집중
버스정류장 데이터 35001 ~ 36000 row 수집중
버스정류장 데이터 36001 ~ 37000 row 수집중
버스정류장 데이터 37001 ~ 38000 row 수집중
버스정류장 데이터 38001 ~ 39000 row 수집중
버스정류장 데이터 39001 ~ 40000 row 수집중
--------------------2020년04월 데이터 수집 완료---------------------
버스정류장 데이터 1 ~ 1000 row 수집중
버스정류장 데이터 1001 ~ 2000 row 수집중
버스정류장 데이터 2001 ~ 3000 row 수집중
버스정류장 데이터 3001 ~ 4000 row 수집중
버스정류장 데이터 4001 ~ 5000 row 수집중
버스정류장 데이터 5001 ~ 6000 row 수집중
버스정류장 데이터 6001 ~ 7000 row 수집중
버스정류장 데이터 7001 ~ 8000 row 수집중
버스정류장 데이터 8001 ~ 9000 row 수집중
버스정류장 데이터 9001 ~ 10000 row 수집중
버스정류장 데이터 10001 ~ 11000 row 수집중
버스정류장 데이터 11001 ~ 12000 row 수집중
버스정류장 데이터 12001 ~ 13000 row 수집중
버스정류장 데이터 13001 ~ 14000 row 수집중
버스정류장 데이터 14001 ~ 15000 row 수집중
버스정류장 데이터 15001 ~ 16000 row 수집중
버스정류장 데이터 16001 ~ 17000 row 수집중
버스정류장 데이터 17001 ~ 18000 row 수집중
버스정류장 데이터 18001 ~ 19000 row 수집중
버스정류장 데이터 19001 ~ 20000 row 수집중
버스정류장 데이터 20001 ~ 21000 row 수집중
버스정류장 데이터 21001 ~ 22000 row 수집중
버스정류장 데이터 22001 ~ 23000 row 수집중
버스정류장 데이터 23001 ~ 24000 row 수집중
버스정류장 데이터 24001 ~ 25000 row 수집중
버스정류장 데이터 25001 ~ 26000 row 수집중
버스정류장 데이터 26001 ~ 27000 row 수집중
버스정류장 데이터 27001 ~ 28000 row 수집중
버스정류장 데이터 28001 ~ 29000 row 수집중
버스정류장 데이터 29001 ~ 30000 row 수집중
버스정류장 데이터 30001 ~ 31000 row 수집중
버스정류장 데이터 31001 ~ 32000 row 수집중
버스정류장 데이터 32001 ~ 33000 row 수집중
버스정류장 데이터 33001 ~ 34000 row 수집중
버스정류장 데이터 34001 ~ 35000 row 수집중
버스정류장 데이터 35001 ~ 36000 row 수집중
버스정류장 데이터 36001 ~ 37000 row 수집중
버스정류장 데이터 37001 ~ 38000 row 수집중
버스정류장 데이터 38001 ~ 39000 row 수집중
버스정류장 데이터 39001 ~ 40000 row 수집중
--------------------2020년05월 데이터 수집 완료---------------------
버스정류장 데이터 1 ~ 1000 row 수집중
버스정류장 데이터 1001 ~ 2000 row 수집중
버스정류장 데이터 2001 ~ 3000 row 수집중
버스정류장 데이터 3001 ~ 4000 row 수집중
버스정류장 데이터 4001 ~ 5000 row 수집중
버스정류장 데이터 5001 ~ 6000 row 수집중
버스정류장 데이터 6001 ~ 7000 row 수집중
버스정류장 데이터 7001 ~ 8000 row 수집중
버스정류장 데이터 8001 ~ 9000 row 수집중
버스정류장 데이터 9001 ~ 10000 row 수집중
버스정류장 데이터 10001 ~ 11000 row 수집중
버스정류장 데이터 11001 ~ 12000 row 수집중
버스정류장 데이터 12001 ~ 13000 row 수집중
버스정류장 데이터 13001 ~ 14000 row 수집중
버스정류장 데이터 14001 ~ 15000 row 수집중
버스정류장 데이터 15001 ~ 16000 row 수집중
--------------------2020년06월 데이터 수집 완료---------------------
버스정류장 데이터 1 ~ 1000 row 수집중
--------------------2020년07월 데이터 수집 완료---------------------
============================================================================
==============================2020 연도 테이블 생성 완료========================
============================================================================
연평균 수집 소요 시간(초) :  132.67703413963318

# 버스 위경도 좌표 매칭

In [6]:
bus_coord = pd.read_csv('서울특별시 버스정류소 위치정보.csv',engine = 'python',encoding = 'cp949')

In [7]:
bus_coord['정류소번호'] = bus_coord['정류소번호'].apply(lambda x: re.sub('[^0-9]','',x))

bus07 = bus_ym_df[bus_ym_df['USE_MON'] == '202007']
bus06 = bus_ym_df[bus_ym_df['USE_MON'] == '202006']

In [8]:
bus06_fin = pd.merge(bus06,bus_coord,left_on = 'BSST_ARS_NO', right_on = '정류소번호', how = 'left')

# 정류소별 자정 승하차 인원
bus_df06 = bus06_fin[['BUS_STA_NM','BSST_ARS_NO','정류소번호','X좌표','Y좌표','MIDNIGHT_RIDE_NUM','MIDNIGHT_ALIGHT_NUM']]

In [22]:
bus_data = bus06_fin.iloc[:,4:].drop(columns = ['정류소번호','정류소명','WORK_DT'])

In [23]:
bus_data.to_csv('data/seoul_bus_data.csv',index = False)

In [73]:
bus_data

,BSST_ARS_NO,BUS_STA_NM,MIDNIGHT_RIDE_NUM,MIDNIGHT_ALIGHT_NUM,ONE_RIDE_NUM,ONE_ALIGHT_NUM,TWO_RIDE_NUM,TWO_ALIGHT_NUM,THREE_RIDE_NUM,THREE_ALIGHT_NUM,...,TWENTY_RIDE_NUM,TWENTY_ALIGHT_NUM,TWENTY_ONE_RIDE_NUM,TWENTY_ONE_ALIGHT_NUM,TWENTY_TWO_RIDE_NUM,TWENTY_TWO_ALIGHT_NUM,TWENTY_THREE_RIDE_NUM,TWENTY_THREE_ALIGHT_NUM,X좌표,Y좌표
0,11428,한성여객종점,0.0,5.0,0.0,2.0,0.0,0.0,181.0,0.0,...,6.0,3.0,19.0,6.0,5.0,6.0,0.0,6.0,127.070056,37.638130
1,11436,하계1동주민센터,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,221.0,17.0,253.0,17.0,276.0,4.0,0.0,0.0,127.072830,37.640426
2,08102,창문여고,159.0,251.0,20.0,41.0,0.0,0.0,0.0,0.0,...,524.0,473.0,456.0,518.0,462.0,452.0,229.0,292.0,127.035820,37.611851
3,08103,동방고개,17.0,123.0,5.0,15.0,0.0,0.0,0.0,0.0,...,37.0,186.0,48.0,194.0,54.0,162.0,12.0,117.0,127.038252,37.613679
4,08104,장위동그린빌아파트,12.0,139.0,1.0,18.0,0.0,0.0,0.0,0.0,...,9.0,342.0,12.0,307.0,11.0,288.0,8.0,167.0,127.043113,37.617853
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15995,15323,푸른마을2단지아파트,22.0,1.0,14.0,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,9.0,0.0,126.834091,37.514191
15996,15325,신월시영아파트.강월초등학교,18.0,0.0,21.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,4.0,3.0,126.835530,37.515731
15997,15329,금실어린이공원,29.0,1.0,14.0,2.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,4.0,0.0,126.837774,37.517954
15998,15354,신월시영아파트중문,20.0,1.0,9.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,9.0,1.0,126.836831,37.519011
15999,15366,신월문화체육센터,15.0,0.0,18.0,2.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,4.0,0.0,126.836482,37.520079

# 지하철 위경도 좌표 매칭

In [9]:
url = 'https://github.com/Just-Kaggle/labs/blob/master/1_part/1_Gis_dataset/%EC%84%9C%EC%9A%B8%EC%8B%9C%20%EC%97%AD%EC%BD%94%EB%93%9C%EB%A1%9C%20%EC%A7%80%ED%95%98%EC%B2%A0%EC%97%AD%20%EC%9C%84%EC%B9%98%20%EC%A1%B0%ED%9A%8C.csv'

req = requests.get(url)

soup = BeautifulSoup(req.content,'html.parser')
table = soup.find('table',{'class':'js-csv-data csv-data js-file-line-container'})

col = []
for i in table.find('thead').find_all('th'):
    
    col.append(i.get_text(strip = False))

tr_ls = table.find('tbody').find_all('tr')

value_ls = []
for i in tr_ls:
    td_ls = i.find_all('td')
    
    value_ls0 = []
    for idx,j in enumerate(td_ls):
        if idx == 0:
            continue
        else:
            td = j.get_text(strip = False)
            
            value_ls0.append(td)
            
        
    value_ls.append(value_ls0)
    
sub_addr = pd.DataFrame(value_ls,columns = col)

sub_addr2 = sub_addr.drop_duplicates()

In [64]:
sub_ym__df06 = sub_ym_df[sub_ym_df['USE_MON']=='202006'][['LINE_NUM','SUB_STA_NM','EIGHT_RIDE_NUM','EIGHT_ALIGHT_NUM']]

#sub_ym__df07 = sub_ym_df[sub_ym_df['USE_MON']=='202007'][['LINE_NUM','SUB_STA_NM','EIGHT_RIDE_NUM','EIGHT_ALIGHT_NUM']]
sub_ym__df07 = sub_ym_df[sub_ym_df['USE_MON']=='202007'].drop(columns = ['USE_MON','WORK_DT'])

In [65]:
# 일단 예외 케이스가 너무 많기 때문에 호선 구분없이 지하철 역별 승하차 인원의 합을 sum 하기로 결정
# 그 다음 유동인구가 높은 역을 산정했을 때 해당 역의 환승 통로 및 어떤 환승구간에서 유동인구가 높은지 확인할 예정
sub_ym__df07_gb = sub_ym__df07.groupby('SUB_STA_NM').sum().reset_index()

#단순 중복제거이므로 가장 맨 위의 row가 채택되었을 것임
sub_addr3 = sub_addr2.drop_duplicates('전철역명')

#병합
subway07 = pd.merge(sub_ym__df07_gb,sub_addr3 , left_on = 'SUB_STA_NM', right_on = '전철역명', how = 'left')

In [66]:
# 좌표 결측치 처리
coord_null = subway07.iloc[subway07.isnull()[subway07.isnull()['전철역명'] == True].index.tolist()].iloc[:,:49]

coord_null['SUB_STA_NM'] = coord_null['SUB_STA_NM'].apply(lambda x : x.split('(')[0])
coord_null2 = pd.merge(coord_null,sub_addr3 , left_on = 'SUB_STA_NM', right_on = '전철역명', how = 'left')

subway07_notnull = subway07.iloc[subway07.isnull()[subway07.isnull()['전철역명'] == False].index.tolist()]


# null 데이터 , not null 데이터 병합
subway07_temp = pd.concat([subway07_notnull,coord_null2],axis = 0)
subway07_temp.index = range(len(subway07_temp))

subway07_temp2 = subway07_temp.iloc[subway07_temp.isnull()[subway07_temp.isnull()['전철역명'] == False].index.tolist()]

In [67]:
subway07_temp2.rename(columns = {'X좌표(WGS)' : 'y_coord','Y좌표(WGS)' : 'x_coord'},inplace = True)

subway07_temp3 = subway07_temp2[subway07_temp2['x_coord'] != '']

subway07_temp3['x_coord'] = subway07_temp3['x_coord'].astype('float64')
subway07_temp3['y_coord'] = subway07_temp3['y_coord'].astype('float64')

subway07_temp3.index = range(len(subway07_temp3))

/Users/sinmin-yong/anaconda3/lib/python3.7/site-packages/pandas/core/frame.py:4133: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,
/Users/sinmin-yong/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """
/Users/sinmin-yong/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [69]:
subway07_temp3.drop(columns = '전철역명',inplace = True)

/Users/sinmin-yong/anaconda3/lib/python3.7/site-packages/pandas/core/frame.py:3997: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

In [71]:
subway07_temp3.to_csv('data/seoul_subway_data.csv',index = False)